/**{
	margin: 0 auto;
	padding: 0 auto;
}*/
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.main-top ul {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}
.header-top {
    display: flex;
    border-bottom: 1px solid grey;
}
.main-top {
    padding-top: 5px;
     font-family: 'Space Grotesk', sans-serif;
    padding-bottom: 5px;
}
.main-top > ul > li {
    list-style: none;
    display: inline-block;
}
a.right-border {
    border-right: 1px solid grey;
    padding: 10px 30px 8px 0px;
}
.main-top > ul > li > a {
    text-decoration: none;
    font-size: 16px;
    transition: 0.5s all;
    color: #d7d6d4;
    font-family: 'Space Grotesk', sans-serif;
}
.main-top > ul > li > a:hover {
    color: #F50963;
}
.main-top  > ul > li > a svg {
    color: white;
    font-size: 17px;
    margin: 0px 5px;
}
.englis-option form select {
    outline: 0;
    border: none;
    padding: 5px 0;
    background: transparent;
    color: white;
}
.englis-option{
    float: right;
    margin: -20px 0;
}
.logo img {
    width: 40%;
}
.header-bottom.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    color: #000;
}

.header-bottom.is-sticky > ul > li > a {
    color: black;
}
.header-bottom.is-sticky .logo-light {
    display: none;
}

.logo .logo-dark {
    display: none;
}

.header-bottom.is-sticky .logo-dark {
    display: block;
    display: inline;
}
.main-header-menu {
    margin: 0 -80px;
}
.main-header-menu nav > ul {
    display: flex;
    list-style: none;
    gap: 19px;
    margin: 0;
}
.main-header-menu nav > ul > li > a {
    text-decoration: none;
    color: white;
    transition: 0.5s all;
    font-size: 16px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
}
.main-header-menu nav > ul > li > a:hover {
    color: #F50963;
}
.main-header-menu nav > ul > li {
    padding-left: 15px;
}
header.main-header {
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}

.icons a {
    color: white;
    font-size: 30px;
    padding: 0 10px;
}
.header-bottom {
    display: flex;
    border-bottom: 1px solid grey;
}
.logo {
    border-right: 1px solid grey;
    display: inline;
    padding: 17px 5px 21px 0px;
}

.icons {
    float: right;
    border-right: 1px solid grey;
    display: inline;
    border-left: 1px solid grey;
    padding: 6px 20px 6px 8px;
}
a.left-border {
    border-left: 1px solid grey;
    padding: 8px 0px 10px 20px;
}
.banner-form-btn {
    float: right;
    padding: 0px 10px;
}
.banner-form {
    background-color: white;
    padding: 20px 20px 20px 5px;
    display: inline-block;
    border-radius: 50px;
    margin-top: 10px;
}
.banner-form form input {
    border: none;
    outline: 0;
    padding: 10px 40px 10px 10px;
    margin: 0 7px;
    border-radius: 50px;
}
.banner-form form input::placeholder{
    color: black;
    font-weight: 600;
}
.main-banner {
    text-align: center;
}
.main-banner {
    position: absolute;
    top: 33%;
    left: 18%;
    color: white;
}
.main-banner.main-banner-1 {
    position: absolute;
    top: 33%;
    left: 11%;
    color: white;
}
.banner-content {
    font-family: 'Space Grotesk', sans-serif;
}
.banner-content h1 {
    font-size: 100px;
    font-weight: 500;
}
.banner-content h6 {
    letter-spacing: 7px;
    font-size: 16px;
}
.banner-image img {
    width: 100%;
}
.slider-work:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #2123bdc2;
}
section.banner-1 {
    position: relative;
}
.banner-form form select {
    border: none;
    outline: none;
    font-weight: 600;
}
.banner-form-btn button {
    border: none;
    background-color: #f50963;
    padding: 10px 30px;
    border-radius: 50px;
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.banner-img img {
    width: 100%;
    height: 1000px;
}
button.slick-prev.slick-arrow {
    display: none !important;
}

button.slick-next.slick-arrow {
    display: none !important;
}
ul.slick-dots {
    position: absolute;
    top: 47%;
    right: 0;
}



.main-header-menu nav > ul > li {
    position: relative;
}

.main-header-menu nav > ul > li > ul {
    background: white;
    min-width: 200px;
    list-style: none;
    padding: 10px 0;
    position: absolute;
    top: 160%;
    left: 0;
    transform: scaleY(0);
    opacity: 0;
    visibility: hidden;
    transform-origin: top;
    transition: all .3s;
}

.main-header-menu nav > ul > li:hover > ul {
    transform: scaleY(1);
    opacity: 1;
    visibility: visible;
}

.main-header-menu nav > ul > li > ul > li > a {
    text-decoration: none;
    display: inline-block;
    color: black;
    padding-left: 20px;
    display: block;
    position: relative;
    transition: all .6s;
    font-size: 14px;
    /* padding: 0; */
}

.main-header-menu nav > ul > li > ul > li > a:hover {
    padding: 0 0 0 40px;
    color: #F50963;
}

.main-header-menu nav > ul > li > ul >  li >a::before{
    content:'';
    position: absolute;
    top: 12px;
    left: 0;
    width: 0px;
    height: 2px;
    background: #F50963;
    opacity: .5;
    margin: 0 20px;
    transform: scaleX(0);
    transform-origin: left;
    transition: all .6s;
}

.main-header-menu nav > ul > li > ul > li >a:hover::before{
    transform: scaleX(1);
    width: 15px;
}

.has-dropdown.has-mega-menu {
    position : relative;
}

.has-dropdown.has-mega-menu > ul.mega-menu {
    width: 80vw;
    height: 40vh;
    left: -150%;
}